{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile page</h1>
    <div>
        <p>{{ user.username }}</p>
        <p>{{ dump(user.roles) }}</p>
        <p>{{ user.last_online|date('d-m-Y') }}</p>
    </div>
{% endblock %}